
label {
    letter-spacing: 0.75px;
    font-size: 20px;
    opacity: 0.7;
    font-weight: bold;
  }
  
input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #eaeaea;
  }
  .row-fluid{
    color:black;
  }
  form{
    width:100%;
  }
  .field{
    text-align: left;
    max-width: 50%;
  }