html, body {
    height: 100%;
    overflow: hidden;
    background-image: url("");
}
header {
    text-align: center;
    background-color: beige;
}
img{
    display: block;
}
.container-fluid {
    min-height: 100%;
    text-align: center;

}
.btn{
    margin: 20px;
}
footer {
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: beige;
}
.col-md-8{
    background-color: gray;
}
.row{
    margin:30px;
}