html, body {
    height: 100%;
    /* overflow: hidden;  */

}
body {
    display: flex;
    flex-direction: column;
  }
header {
    text-align: center;
    background-color: beige;
}
img{
    display: block;
}
.container{
    /* min-height: 100%; */
    text-align: center;
    flex: 1 0 auto;
}
.btn{
    margin: 20px;
}
.footer {
    text-align: center;
    /* position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%; */
    background-color: beige;
    flex-shrink: 0;
}
.col-md-8{
    /* background-color: gray; */
    flex: 1 0 auto;
}
.row{
    margin:30px;
}
#next-button{
    text-align: right;
}
/* html, body {
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}
header {
    text-align: center;
    background-color: rgb(73, 111, 248);
    opacity: 1;
}


img{
    display: block;
}

#fixed-ratio-resize {
    min-width: 100%;
    min-height: 100%;
}

.container-fluid {
    min-height: 100%;
    max-width: contain;
    text-align: center;
}

.btn {
    margin: 10px;
    z-index: 100000;
    display: block;
    color: #000;
}

footer {
    text-align: center;
    font-size: x-small;
    color: rgba(65, 65, 66, 0.856);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #f8bb22;
    padding: 25px 10px 10px 10px;
    grid-template-columns: 100%;
    clear: all;
    display: inline-table;
}



#bg-video {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    size: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -100;
  }
  
  #overlay {
    background: rgba(100,100,100,.7);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    text-align: center;
  } */
  
 
  
  