html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-repeat: inherit;
    
  }
header {
    text-align: center;
}
img{
    display: block;
}
.container{
    text-align: center;
    
    overflow:scroll;
}
.date{
  color: white;
  
}
#plan-view{
    color: white;
}
.btn{
    margin: 20px;
}
.footer {
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 8%;
}
.col-md-8{
    color: white;
    overflow:scroll;
}
.row{
    margin:30px;
    background-color: rgb(4, 17, 4);
}
#next-button{
    text-align: right;
}

  
  